<h1>Available Paths</h1>

<ul>
  <li><a href="/login">/login</a></li>
  <li><a href="/logout">/logout</a></li>
  <li><a href="/user/activities">/user/activities</a></li>
  <li>/user/activity/:activity_name</li>
  <li>/user/activity/:activity_name/export</li>
</ul>